.sc_container {
  width: 55%;
  height: 550px;
  margin: 0px auto;
  margin-top: 20px;
  margin-left: 35%;
  padding: 30px 20px;
  border-radius: 5px;
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
}
.rcorners {
  width: 40%;
  height: 110px;
  margin-top: 30px;
  margin-left: 55px;
  border-radius: 10px;
  color: #ffffff;
  background-color: #0e9f98;
  float: left;
}
.shifttop {
  margin-top: 12px;
}
.pull-left {
  margin-left: 20px;
  float: left;
}
.pull-right {
  margin-right: 20px;
  float: right;
}
.text-center {
  text-align: center;
}
