.login-container {
  width: 80%;
  height: 500px;
  margin: 0px auto;
  margin-top: 90px;
  padding: 30px 20px;
  border-radius: 5px;
  color: #008080;
  background-color: #ffffff;
  box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
}

.formm {
  margin-top: 50px;
}

.form-group {
  margin-bottom: 1.5rem;
}

a {
  cursor: pointer;
}
